<div *ngIf="hideFooter==false">

<footer class="footer-div">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="about">
          <img class="logo-b" src="assets/images/logo-b.png">
          <p class="info">SpotLeads is bringing the “real” back to real estate. Whether you’re renting an apartment, buying a property, or looking for leads, our app is your connecting spot.</p>
          <p>Lets Connect
            <i class="fa fa-instagram"></i>
            <i class="fa fa-facebook"></i>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-whatsapp"></i>
            <i class="fa fa-linkedin"></i>
            <i class="fa fa-youtube"></i>
          <p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="menu-div">
          <h3>Additional Menu</h3>
          <a href="#">Privacy Policy</a>
          <a href="#">Terms And Condition</a>
          <a href="#">Disclaimer</a>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="menu-div">
          <h3>Address</h3>
          <!-- <a href="#"><i class="fa fa-phone footer-icon"></i>213-920-4860</a> -->
          <a href="mailto:hello@spotleads.com"><i class=" fa fa-envelope footer-icon"></i>hello@spotleads.com</a>
          <!-- <a href="#"><i class="fa fa-map-marker footer-icon"></i>No 19,698 Edington Drive,Los Angeles, 90008</a> -->
        </div>
      </div>
    </div>
    <div class="row copyright-row">
      <div class="col-md-12">
        <div class="copyright">
          <div class="row">
            <div class="col-sm-6">
              <p class="copyright-p">2020, Spotleads All Rights Reserved</p>
            </div>
            <div class="col-sm-6">
              <img src="assets/images/pay.PNG" class="payment-img">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
  <div class="go-up">
    <a (click)="goUp($event)">
      <img src="../../assets/images/go.png">
    </a>

  </div>
</div>
