<div class="section-div">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="../../assets/images/hand-mobile.PNG" class="mob-img">
            </div>
            <div class="col-md-6">
                <h1 class="main-heading h-heading">
                    <span>SpotLeads
</span>for Real Estate Agents
                </h1>
                <p class="paragraph"> We know there’s a lot more to your day-to-day than managing expensive listings ads and qualifying cold leads that aren’t serious about their search. For agents, SpotLeads is the most direct, effective platform for finding warm, high-quality real estate leads. Clients join our platform knowing they can find an agent with exactly what they’re looking for. Our app helps you shift your focus from listings to leads.
                </p>

            </div>
        </div>
    </div>
</div>
<div class="card-section">
    <h1 class="main-heading h-heading text-center mb-5">
        <span>SpotLeads </span> benefits for agents:

    </h1>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="brand-card">
                    <img src="../../assets/images/icon-brand.PNG">
                    <h3> Reduce costs by getting in front of the right leads.</h3>
                    <p> Lower your cost-per-lead r8atio by getting in front of the right prospects from the start. With SpotLeads, you can strike while the iron’s hot and be the one to find clients the properties they’ve only dreamed about.
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="brand-card">
                    <img src="../../assets/images/icon-brand.PNG">
                    <h3>Deflect the competition with an innovative, streamlined search. </h3>
                    <p>Capture active leads’ attention and make an impression by delivering an innovative, mobile-friendly, effective property search experience with the SpotLeads app.
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="brand-card">
                    <img src="../../assets/images/icon-brand.PNG">
                    <h3>Satisfy your clients for the long-haul.</h3>
                    <p>Our quality-over-quantity approach for property listings ensures your clients have a seamless experience in working with you to quickly find the apartment or house that fits their needs exactly.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="callout">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>SpotLeads: The partner you can trust to simplify your search.</h3>
                <p>From our flexible monthly subscription rate to our unmatched volume of high-quality leads, SpotLeads lifts administrative and cost strains off agents so that they can focus on what they’re best at: working with people to find them the property they’ve been dreaming about.</p>
                <button class="dark-btn">Contact Us</button>
            </div>
        </div>
    </div>
</div>


