/* .signup-section{
  background: url("https://images3.alphacoders.com/880/thumb-1920-880526.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.section-div.signup-section {
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}

.signupDiv {
  text-align: center;
  color: white;
}

.signupDiv *{
  text-align: center;
  color: white;
} */
