<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">

      <h1 class="main-heading" style="font-size: 31px">
        Register with Mobile Number
      </h1>
      <p class="sub-para">Enter you 10 digit mobile number to continue.</p>
      <div class="input-group mb-3 mt-5 contact-div">
        <div class="input-group-prepend">
          <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
            +1
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">+2</a>
            <a class="dropdown-item" href="#">+10</a>
          </div>
        </div>
        <input type="text" class="form-control" placeholder="Please Enter Mobile Number">
      </div>
      <div class="row">


        <div class="col-md-12 mb-5 mt-5">
          <p>Existing User? <a href="#">Sign In </a> </p>
          <button class="dark-btn">Verfy</button>
        </div>
        <div class="col-md-12 mt-5">
          <p>By registering you agree to our <a href="#">Terms of Service</a> and <a href="#">Privacy Policy</a></p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <img src="../../../assets/images/mobile.png" class="side-imgs">
    </div>
  </div>
</div>
