img.cs-img {
  position: absolute;
  top: 170px;
  right: -100px;
}

ul.nav.nav-pills.sign-tab li {
  margin-bottom: 15px;
  margin-right: 15px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 3%);
}

.contact-div-inner {
  background: #36d5a5;
  padding: 50px;
}

.contact-div select {
  border: none;
}

section.contact-div {
  padding: 50px 0;
}

.contact-div-inner * {
  color: white;
}

header.header-div {
  position: relative;
  overflow: hidden;
}

.contact-div input.form-control {
  border: none;
  border-radius: 0;
}

.contact-div button {
  border-right: 1px solid gainsboro;
  background: white;
  outline: none;
  box-shadow: none;
}

.contact-div {
  border: 1px solid gainsboro;
  background: white;
  padding: 2px;
  width: 75%;
}

a {
  color: #35d5a5;
}

.verify-code {
  text-align: center;
}

.verify-code:not(:last-child) {
  border-right: 1.9px solid gainsboro !important;
}

.sign-tab a.nav-link.active {
  background: #29d09d;
  border-radius: 0;
  color: white;
}

.sign-tab a.nav-link {
  background: #eeeeee;
  color: #999999;
  border-radius: 0;
  min-width: 120px;
  text-align: center;
  max-width: 100%;
}

img.qr-img {
  width: auto;
  height: 120px;
  max-width: 100%;
}

.tab-content.sign-content .tab-pane {
  padding: 0 !important;
  margin-top: 30px;
}

.sign-tab {
  margin-top: 30px;
}

@media screen and (max-width: 992px) {
  .contact-div {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .sign-tab {
    margin-top: 30px;
    white-space: nowrap;
    flex-wrap: nowrap !important;
    overflow: auto;
  }

  img.qr-img {
    display: block;
    margin: auto;
  }

  p {
    text-align: center;
  }

  button.dark-btn {
    display: block;
    margin: auto;
  }

  .contact-div {
    margin: auto;
  }
}
