<!--<div class="brand-div">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <img src="../../assets/images/brand.png">
      </div>
    </div>
  </div>
</div>-->
<div class="card-section mt-4">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="brand-card">
          <img src="../../assets/images/icon-brand.PNG">
          <h3> For Renters</h3>
          <p> SpotLeads eliminates the need for endless scrolling so that you can quickly find the NYC rental you’re looking for. Our platform identifies the real estate agent that can help you find the perfect housing for rent.
          </p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="brand-card">
          <img src="../../assets/images/icon-brand.PNG">
          <h3>For Buyers</h3>
          <p>SpotLeads helps you find agents that specialize in your area of interest, delivering the expertise you need for an efficient, targeted search. Simply tell us what you want, and an agent will take it from there.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="brand-card">
          <img src="../../assets/images/icon-brand.PNG">
          <h3>For Property Representatives</h3>
          <p>SpotLeads is the platform offering real estate leads that are waiting for you to contact them. All buyers and renters on our platform are ready-to-act, with needs spanning residential to commercial. We take the pressure off your lead search so you can focus on what really matters: building relationships.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section-div">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="../../assets/images/hand-mobile.PNG" class="mob-img">
      </div>
      <div class="col-md-6">
        <h1 class="main-heading h-heading">
          The Real Connecting Spot in
          <span>Real </span> Estate
        </h1>
        <p class="paragraph">SpotLeads is the quality response to the NYC real estate market’s quantity focus. Whether you’re a real estate agent or a client, we deliver exactly what you’re looking for, making the search the easiest part of your move process.</p>
        <div class="div-items">
          <div class="item"><img src="../../assets/images/check.PNG"> Clients join our platform, sharing exactly what they’re looking for in the commercial or residential property that they need to find soon.</div>
          <div class="item"><img src="../../assets/images/check.PNG"> Agents make searches based on their listings to find interested clients.</div>
          <div class="item"><img src="../../assets/images/check.PNG"> Agents and clients directly connect, eliminating the need for endless scrolling, managing multiple platforms, and hectic viewing schedules.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="callout callout-light">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3>Searching for Your Next Spot?</h3>
        <p>We’ll help you find the residential or commercial property you’ve been looking for.</p>
        <img src="assets/images/site-pp.png" class="site-p">
      </div>
    </div>
  </div>
</div>
<div class="btn-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="btn-div-wrap">
          <a routerLink="/signup"><button class="dark-btn">Sign Up</button></a>
          <!-- <button type="button" class="app-btn">
            <img src="../../assets/images/play-store.png" class="app-img">
            <div class="app-i-div">
              <span class="app-span">get it on</span>
              <p class="app-p">Google play</p>
            </div>
          </button>
          <button type="button" class="app-btn app-btn-dark">
            <img src="../../assets/images/apple.png" class="app-img" />
           <div class="app-i-div">
             <span class="app-span">download on the</span>
             <p class="app-p">App store</p>
           </div>
          </button> -->
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section-div card-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 class="main-heading h-heading">
          Looking for Real Estate
          <span>Leads</span> ?
        </h1>
        <div class="card-list-div">
          <div class="card-list">
            <div class="img-div">
              <img src="../../assets/images/icon-brand.PNG">
            </div>
            <div class="icon-info">
              <h3> Exclusively high-quality leads.</h3>
              <p class="paragraph">All clients on SpotLeads are waiting to hear from you. Real estate buyers and renters that are serious about their search download our app knowing they’ll find the expert that they need.</p>
            </div>
          </div>

          <div class="card-list">
            <div class="img-div">
              <img src="../../assets/images/icon-brand.PNG">
            </div>
            <div class="icon-info">
              <h3>Stand out with simplicity.</h3>
              <p class="paragraph">Stop your spending on expensive listings ads. Capture clients’ attention with an experience that simplifies their search and delivers exactly what they’re looking for.</p>
            </div>
          </div>

          <div class="card-list">
            <div class="img-div">
              <img src="../../assets/images/icon-brand.PNG">
            </div>
            <div class="icon-info">
              <h3>Focus on what you do best.</h3>
              <p class="paragraph">SpotLeads saves agents time and energy so they can focus on what they do best: working with people to find them the home of their dreams.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div id="demo" class="carousel slide" data-ride="carousel">

          <!-- Indicators -->
          <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
          </ul>

          <!-- The slideshow -->
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="assets/images/slide1.jpg" alt="Los Angeles" width="1100" height="500">
            </div>
            <div class="carousel-item">
              <img src="assets/images/slide2.jpg" alt="Chicago" width="1100" height="500">
            </div>
            <div class="carousel-item">
              <img src="assets/images/slide3.jpg" alt="New York" width="1100" height="500">
            </div>
          </div>

          <!-- Left and right controls -->
          <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>
        </div>
      </div>

    </div>
  </div>
</div>
<div class="callout">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3>Bringing the “real” back to real estate.</h3>
        <p>SpotLeads believes that real estate should be about people coming together to find what they need. Our app is innovating how agents and clients find each other, as we believe the search for your next dream home or client should be simple, efficient, and satisfying.
        </p>
        <a routerLink="/contact"><button class="dark-btn">Contact Us</button></a>
      </div>
    </div>
  </div>
</div>


