<div class="section-div">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="../../assets/images/hand-mobile.PNG" class="mob-img">
            </div>
            <div class="col-md-6">
                <h1 class="main-heading h-heading">
                    <span>SpotLeads </span> for Real Estate Buyers and Renters
                </h1>
                <p class="paragraph"> SpotLeads is innovating the experience for real estate buyers and renters. We created our app to flip the script on how clients are the ones to lead the property search process.
                    We believe that you have enough to worry about for your upcoming move, and we know that you can’t afford to endlessly scroll through listings for hours on end. SpotLeads was built to take the real estate industry’s focus from the listing to the connection that takes place between professionals and clients. With our app, clients can:
                </p>
                <div class="div-items">
                    <div class="item"><img src="../../assets/images/check.PNG">
                        Join our platform and share exactly what they need in a commercial or residential property.
                    </div>
                    <div class="item"><img src="../../assets/images/check.PNG">  Immediately find a real estate agent that specializes in their area of focus.</div>
                    <div class="item"><img src="../../assets/images/check.PNG"> Book a viewing with a professional that is ready and available for their timeline needs.
                    </div>
                </div>
                <p class="paragraph">
                    With SpotLeads, there’s no more option overwhelm, need to scroll through millions of listings, or long wait times for an agent’s reply. It's never been easier to find the property you’re looking for, and finding the expert you need is as easy as downloading the app.
                    Get started today!
                </p>
                <div class="row">
                    <div class="col-md-12">
                        <div class="app-div">
                            <img src="assets/images/google.png">
                            <img src="assets/images/appstore.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



